<html>
    <head>
        <title>About Us</title>
        <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}
		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
		
		a.blogs {text-decoration: none; color: #000000}
		
		body {text-align: center}
		
	</style>
	<script
  		src="//code.jquery.com/jquery-3.5.1.js"
  		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  		crossorigin="anonymous">
 </script>
    </head>
    <header>
		<div class="top">
			<h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li class="navli"><a href="/">Home</a></li>
			<li class="navli"><a href="/Blogs">Blogs</a></li>
			<li class="navli"><a href="/Recipes">Recipes</a></li>
			<li class="navli"><a href="/About">About</a></li>
			<li class="navli"><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<form action="https://recipe-central-search.herokuapp.com/SearchResults" method='get' >
			<input type="text" placeholder="I'm looking for..." name="query">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</form>
			</div>
	   	</ul>
	</nav>
       <body>
       	<script>
		$(document).ready(function(){
    		$("#message").hide();
		});
	</script>
        <h2>About Us</h2>
        <h3>We are Recipe Central, your go-to blog to find recipes!</h3>
        <h4>Our Team</h4>
        <h3>Isabel</h3>
        <img src="/public/images/isabel.jpg" alt="isabel" height="300px" width="300px">
        <p> Isabel is our resident food lover. She loves writing blogs about her favorite recipes and loves sharing them with the world! Isabel's favorite food is Italian and Mexican. </p>
        <h3>Nived</h3>
        <img src="/public/images/nived.jpg" alt="nived" height="300px" width="300px">
        <p> Nived is our biggest foodie. He loves all cuisines, but loves the spiciest of food the most. He loves Indian food and Japanese food the most. </p>
        <h3>Jayson</h3>
        <img src="/public/images/jayson.jpg" alt="jayson" height="300px" width="300px">
        <p> Jayson is another member of our team who loves food. He likes tasting unique flavors from around the world everyday and his roommates always get jealous when they smell him cooking up a storm every night. His favorite food is Thai and Mexican.</p>
        <h3>Ryan</h3>
        <img src="/public/images/ryan.jpg" alt="ryan" height="300px" width="300px">
        <p> Last but not least, our fourth foodie team member, Ryan is never afraid to try something new. He is our tech genius behind the scenes but his love for food is nothing less than anyone else's. His favorite cuisines include Korean and Thai food. </p>
        	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="/public/images/HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="/public/images/HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="/public/images/Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="/public/images/HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

		<form
		name = "data"
		class = "signup"
		method="get"
		onsubmit = "return validate()"
		action="/SendEmail">

		<p id = "first">First Name*: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email*: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form.signup').submit(function(e){
			var fname = document.getElementsByName('fname')[0].value;
			var email = document.getElementsByName('email')[0].value;
			if (fname == '') {
			    alert('First name is a required field. Could not submit.');
			    event.preventDefault();
			    return;
			}
			var ind = email.indexOf("@");
			if (ind == -1) {
			    alert('Email is invalid (no @ symbol). Could not submit.');
			    event.preventDefault();
			    return;
			}
			else {
			    var domain = email.substring(ind + 1);
			    var period_ind = domain.indexOf(".");
			    if (period_ind == -1) {
				alert('Email is invalid (no extension). Could not submit.');
				event.preventDefault();
				return;
			    }
			}
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    window.location.href("/SendEmail");
		    e.preventDefault();
		    $('#submit').hide(); 
		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
    </body>
</html>
