<html>
    <head>
        <title>About Us</title>
        <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <header>
        <div class="top">
            <h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
        </div>
    </header>
    <nav>
        <ul class="nav">
            <div class="topNav">
            <li><a href="/">Home</a></li>
            <li><a href="/Blogs">Blogs</a></li>
            <li><a href="/Recipes">Recipes</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/SubmitRecipe">Submit a recipe!</a></li>
            </div>
            <div class="searchbar">
            <input type="text" placeholder="Search by main ingredient...">
            <li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
            </div>
        </ul>
    </nav>
       <body>
        <h1>About Us</h1>
        <h3>We are Recipe Central, your go-to blog to find recipes!</h3>
        <h2>Our Team</h2>
        <h4>Isabel</h4>
        <img src="isabel.jpg" alt="isabel" height="300px" width="300px">
        <p> Isabel is our resident food lover. She loves writing blogs about her favorite recipes and loves sharing them with the world! Isabel's favorite food is Italian and Mexican. </p>
        <h4>Nived</h4>
        <img src="nived.jpg" alt="nived" height="300px" width="300px">
        <p> Nived is our biggest foodie. He loves all cuisines, but loves the spiciest of food the most. He loves Indian food and Japanese food the most. </p>
        <h4>Jayson</h4>
        <img src="jayson.jpg" alt="jayson" height="300px" width="300px">
        <p> Jayson is another member of our team who loves food. He likes tasting unique flavors from around the world everyday and his roommates always get jealous when they smell him cooking up a storm every night. His favorite food is Thai and Mexican.</p>
        <h4>Ryan</h4>
        <img src="ryan.jpg" alt="ryan" >
        <p> Last but not least, our fourth foodie team member, Ryan is never afraid to try something new. He is our tech genius behind the scenes but his love for food is nothing less than anyone else's. His favorite cuisines include Korean and Thai food. </p>
    </body>
</html>
