<html>
    <head>
        <title>About Us</title>
        <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>About Us</h1>
        <h3>We are Recipe Central, your go-to blog to find recipes!</h3>
        <h2>Our Team</h2>
        <h4>Isabel</h4>
        <img src="isabel.jpg" alt="isabel" height="300px" width="300px">
        <h4>Nived</h4>
        <img src="nived.jpg" alt="nived" height="300px" width="300px">
        <h4>Jayson</h4>
        <img src="jayson.jpg" alt="jayson" height="300px" width="300px">
        <h4>Ryan</h4>
        <img src="ryan.jpg" alt="ryan" height="300px" width="300px">
    </body>
</html>
