<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  		src="//code.jquery.com/jquery-3.5.1.js"
  		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  		crossorigin="anonymous">
 </script>
	<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}

		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
		
		a.blogs {text-decoration: none; color: #000000}
		
		.blogSearch input{height: 30px; width: 300px}
		
		.blogSearch button {height:36px; width:36px}
		
		#blogsfilter {list-style-type: none; padding:0; margin:0}
		

		
	</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li class="navli"><a href="/">Home</a></li>
			<li class="navli"><a href="/Blogs">Blogs</a></li>
			<li class="navli"><a href="/Recipes">Recipes</a></li>
			<li class="navli"><a href="/About">About</a></li>
			<li class="navli"><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<form action="https://recipe-central-search.herokuapp.com/SearchResults" method='get' >
			<input type="text" placeholder="I'm looking for..." name="query">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</form>
			</div>
	   	</ul>
	</nav>

	<script>
		$(document).ready(function(){
    		$("#message").hide();
		});
	</script>

		<h2><a href="/Blogs" class="title">Blogs</a></h2>
		<div class = "blogSearch">
		<h4>Search for a blog:
		<input type="text" id="blogSearch" onkeyup="filter()" placeholder="I'm looking for..." size="40">
		</div>


	<ul id="blogsfilter">
		<li><h3><a href="/BlogHolidayRecipes" class="blogs">5 Recipes You Need To Try This Holiday Season<br></a></h3>
		<img src="/public/images/holiday-meal.jpg" alt="meal" width = 400px height = inherit></li>
		<li><h3><a href="/BlogChickenRecipes" class="blogs">Chicken Recipes For Any Day Of The Week<br></a></h3>
		<img src="/public/images/ChickenDishes.jpg" alt="meal" width = 400px height = inherit></li>
		<li><h3><a href="/BlogWinterRecipes" class="blogs">10 Dinner Recipes Perfect For A Cozy Winter Night<br></a></h3>
		<img src="/public/images/FoodFireplace.jpg" alt="meal" width = 400px height = inherit></li>
		<li><h3><a href="/BlogHealthyRecipes" class="blogs">8 Healthy Recipes That Everyone Will Love<br></a></h3>
		<img src="/public/images/HealthyRecipes.jpg" alt="meal" width = 400px height = inherit></li>
		<li><h3><a href="/BlogPastaRecipes" class="blogs">4 Pasta and Noodle Recipes To Satisfy The Whole Family</a></h3>
		<img src="/public/images/Pastas.jpg" alt="meal" width = 400px height = inherit></li>
	</ul>

	
	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="/public/images/HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="/public/images/HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="/public/images/Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="/public/images/HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

	<form
		name = "data"
		class = "signup"
		method="post"
		onsubmit = "return validate()">

		<p id = "first">First Name: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form.signup').submit(function(e){
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    e.preventDefault();
		    $('#submit').hide(); 
		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
<script>
function filter() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("blogSearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("blogsfilter");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
</body>
</html>
