<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
<link rel="stylesheet" href="RecipeCentral.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  		src="https://code.jquery.com/jquery-3.5.1.js"
  		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  		crossorigin="anonymous">
 </script>
	<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}

		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
		
		a.blogs {text-decoration: none; color: #000000}
		
	</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="index.html"><img src="RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="index.html">Home</a></li>
			<li><a href="Blogs.html">Blogs</a></li>
			<li><a href="Recipes.html">Recipes</a></li>
			<li><a href="About.html">About</a></li>
			<li><a href="SubmitRecipe.html">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="I'm looking for...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>

	<script>
		$(document).ready(function(){
    		$("#message").hide();
		});
	</script>

		<h2><a href="Blogs.html" class="title">Blogs</a></h2>
		<div class = "blogSearch">
		<h4>Search for a blog:
		<input type="text" placeholder="I'm looking for..." size="40">
		<button type="submit"><i class="fa fa-search" size="40"></i></button></li></h4>
		</div>


		<h3><a href="BlogHolidayRecipes.html" class="blogs">5 Recipes You Need To Try This Holiday Season<br></a></h3>
		<h3><a href="BlogChickenRecipes.html" class="blogs">Chicken Recipes For Any Day Of The Week<br></a></h3>
		<h3><a href="BlogWinterRecipes.html" class="blogs">10 Dinner Recipes Perfect For A Cozy Winter Night<br></a></h3>
		<h3><a href="BlogHealthyRecipes.html" class="blogs">8 Healthy Recipes That Everyone Will Love<br></a></h3>
		<h3><a href="BlogPastaRecipes.html" class="blogs">4 Pasta and Noodle Recipes To Satisfy The Whole Family</a></h3>

	
	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

	<form
		name = "data"
		method="post"
		onsubmit = "return validate()">

		<p id = "first">First Name: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form').submit(function(e){
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    e.preventDefault();
		    $('#submit').hide(); 

		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>
