<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>5 Recipes You Need To Try This Holiday Season</title>
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  		src="//code.jquery.com/jquery-3.5.1.js"
  		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  		crossorigin="anonymous">
 </script>
	<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}

		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
	</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="index.html"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="/">Home</a></li>
			<li><a href="/Blogs">Blogs</a></li>
			<li><a href="/Recipes">Recipes</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="I'm looking for...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>

	<script>
		$(document).ready(function(){
    		$("#message").hide();
		});
	</script>

	<h2><a href="Blogs.html" class="title">Blogs</a></h2>

	<h1>5 Recipes You Need To Try This Holiday Season<br></h1>
	
	<p>Happy Holidays! The holidays are all about having delicious meals with family and friends! Check out these five recipes that are perfect for your next holiday meal.</p>
	
	<h3>1. Minced Beef Pie</h3>
	<p>This simple classic is perfect for any occasion!</p>
		
	<h3>2. Potato Gratin with Chicken</h3>
	<p>Chicken and potatoes! Who can resist?!</p>	

	<h3>3. Beef Wellington</h3>
	<p>Take on the challenge of making a beef wellington. So delicious, it's definitely worth it!</p>	

	<h3>4. Chicken Parmentier</h3>
	<p>Once again, potatoes and chicken are a combination no one can resist!</p>	
	
	<h3>5. Beef Sunday Roast</h3>
	<p>Even if it's called a Sunday Roast, this dish is perfect for any day of the week.</p>	
	
	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

	<form
		name = "data"
		method="post"
		onsubmit = "return validate()">

		<p id = "first">First Name: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form').submit(function(e){
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    e.preventDefault();
		    $('#submit').hide(); 

		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>
