<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>5 Recipes You Need To Try This Holiday Season</title>
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
  		src="//code.jquery.com/jquery-3.5.1.js"
  		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  		crossorigin="anonymous">
 </script>
	<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}

		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
	</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li class="navli"><a href="/">Home</a></li>
			<li class="navli"><a href="/Blogs">Blogs</a></li>
			<li class="navli"><a href="/Recipes">Recipes</a></li>
			<li class="navli"><a href="/About">About</a></li>
			<li class="navli"><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<form action="https://recipe-central-search.herokuapp.com/SearchResults" method='get' >
			<input type="text" placeholder="I'm looking for..." name="query">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</form>
			</div>
	   	</ul>
	</nav>

	<script>
		$(document).ready(function(){
    		$("#message").hide();
		});
	</script>

	<h2><a href="/Blogs" class="title">Blogs</a></h2>

	<h1>5 Recipes You Need To Try This Holiday Season<br></h1>
	
	<p>Happy Holidays! The holidays are all about having delicious meals with family and friends! Check out these five recipes that are perfect for your next holiday meal.</p>
	
	<h3>1. Minced Beef Pie</h3>
	<p>This simple classic is perfect for any occasion!</p>
	<img src="https://www.themealdb.com/images/media/meals/xwutvy1511555540.jpg" alt="meal" width = 200px height = inherit>
		
	<h3>2. Potato Gratin with Chicken</h3>
	<p>Chicken and potatoes! Who can resist?!</p>	
	<img src="https://www.themealdb.com/images/media/meals/qwrtut1468418027.jpg" alt="meal" width = 200px height = inherit>

	<h3>3. Beef Wellington</h3>
	<p>Take on the challenge of making a beef wellington. So delicious, it's definitely worth it!</p>
	<img src="https://www.themealdb.com/images/media/meals/vvpprx1487325699.jpg" alt="meal" width = 200px height = inherit>

	<h3>4. Chicken Parmentier</h3>
	<p>Once again, potatoes and chicken are a combination no one can resist!</p>
	<img src="https://www.themealdb.com/images/media/meals/uwvxpv1511557015.jpg" alt="meal" width = 200px height = inherit>
	
	<h3>5. Beef Sunday Roast</h3>
	<p>Even if it's called a Sunday Roast, this dish is perfect for any day of the week.</p>	
	<img src="https://www.themealdb.com/images/media/meals/ssrrrs1503664277.jpg" alt="meal" width = 200px height = inherit>	
	
	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="/public/images/HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="/public/images/HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="/public/images/Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="/public/images/HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

		<form
		name = "data"
		class = "signup"
		method="get"
		onsubmit = "return validate()"
		action="/SendEmail">

		<p id = "first">First Name*: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email*: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form.signup').submit(function(e){
			var fname = document.getElementsByName('fname')[0].value;
			var email = document.getElementsByName('email')[0].value;
			if (fname == '') {
			    alert('First name is a required field. Could not submit.');
			    event.preventDefault();
			    return;
			}
			var ind = email.indexOf("@");
			if (ind == -1) {
			    alert('Email is invalid (no @ symbol). Could not submit.');
			    event.preventDefault();
			    return;
			}
			else {
			    var domain = email.substring(ind + 1);
			    var period_ind = domain.indexOf(".");
			    if (period_ind == -1) {
				alert('Email is invalid (no extension). Could not submit.');
				event.preventDefault();
				return;
			    }
			}      
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>
