<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="index.html"><img src="RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="index.html">Home</a></li>
			<li><a href="Blogs.html">Blogs</a></li>
			<li><a href="Recipes.html">Recipes</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="SubmitRecipe.html">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="Search by main ingredient...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>
		<h1>Recipes</h1>
		<script src="Recipes.js"></script>
  

		<span id="recipes"> </span>

	<script>
	</script>

</body>
<footer>
</footer>
</html>
