<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
		<script
				src="//code.jquery.com/jquery-3.5.1.js"
				integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
				crossorigin="anonymous">
		</script>
		<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />

        <style>
			* {
			  box-sizing: border-box;
			}
			
			h1 {color: #D60E0E}

			.recipes { float:right}

			.center {
				text-align: center;
				font-family: georgia;
				font-size: 30px;
				}

			.blogs {
				text-align: center;
				font-size: 20px;
			}
			.homeColumn {
			  float: left;
			  width: 50%;
			  padding: 10px;
			}

			/* Clear floats after the columns */
			.homeRow:after {
			  content: "";
			  display: table;
			  clear: both;
			}		
			
			.featured {margin-left: 200px}

        </style>

    </head>
    <body>
        
	<header>
		<div class="top">
			<h1><a href="FinalHome.html"><img src="RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="FinalHome.html">Home</a></li>
			<li><a href="Blogs.html">Blogs</a></li>
			<li><a href="Recipes.html">Recipes</a></li>
			<li><a href="About.html">About</a></li>
			<li><a href="SubmitRecipe.html">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="I'm looking for...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>

	<h1>Welcome to Recipe Central!<h1>
	<h1>Look around and find your new favorite recipe!</h1>
		
	<div class="homeRow">
	  <div class="homeColumn">		
		<h2>Top Blogs</h2>
		<p>5 Recipes You Need to Try This Holiday Season</p>	
		<img src="holiday-meal.jpg" alt="meal" width = 400px height = inherit>
	  </div>
	  <div class="homeColumn">
		<div class="featured">
		<h2>Featured Recipes</h2>
		<p>Chicken Picatta</p>
		<p>Beef Stew</p>
		<p>Scalloped Potatoes</p>
	  </div>
	  </div>
	</div>

	<br>

	<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

	<form
		name = "data"
		method="post"
		onsubmit = "return validate()">

		<p id = "first">First Name: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form').submit(function(e){
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    e.preventDefault();
		    $('#submit').hide(); 

		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>


    </body>

</html>
