<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8">
    <title>Recipe Search Results</title>
    <style>
      h1 {color: #0000ff}
    </style>
  </head>
  <body>
    <h1>Recipe Search</h1>
  </body>
</html>
