<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
<style>
header {font-family: georgia; color: #D60E0E; text-align: center; font-size: 30px; vertical-align: center}

body {background-color: #FFFDF3; font-family: georgia; color:#000000}

ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

li a:hover:not(.active) {background-color: #111}

.searchbar {float: right; text-align: center}

.column {
	float:left;
	width:25%;
	padding: 0px;
}

.row::after {
	content:"";
	clear: both;
	display: table;
}

input[type=submit] {
	background-color: #333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: georgia;
}

input[type=submit]:hover {background-color: #111}
</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="index.html"><img src="RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="/homepage">Home</a></li>
			<li><a href="Blogs.html">Blogs</a></li>
			<li><a href="Recipes.html">Recipes</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="SubmitRecipe.html">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="Search by main ingredient...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>
		<h1>Recipes</h1>
		<script src="Recipes.js"></script>
  

		<span id="recipes"> </span>

	<script>
	</script>

</body>
<footer>
</footer>
</html>
