<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	body {text-align: center}
</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="/">Home</a></li>
			<li><a href="/Blogs">Blogs</a></li>
			<li><a href="/Recipes">Recipes</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="I'm looking for...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>
		<h2>Recipes</h2>
		<p> Breakfast </p>
		<p> Lunch </p>
		<p> Dinner </p>
		<span id="recipes"> </span>

	<p>
		<%-data%>
	</p>

</body>
<footer>
</footer>
</html>
