<!doctype html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		
		header{font-family: georgia; color: #D60E0E; text-align: center; font-size: 30px; vertical-align: center}

		body{background-color: #FFFDF3; font-family: georgia; color:#000000}

		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		.active {
		  background-color: #4CAF50;
		}
		
		.searchbar {float: right; text-align: center}

	</style>
<head>
<meta charset="UTF-8">
<title>Blogs</title>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="index.html"><img src="logo.jpg" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li><a href="index.html">Home</a></li>
			<li><a href="Blogs.html">Blogs</a></li>
			<li><a href="Recipes.html">Recipes</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="submit_recipe.html">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<input type="text" placeholder="I'm looking for...">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</div>
	   	</ul>
	</nav>
		<h2>Recipes</h2>
		<p> Breakfast </p>
		<p> Lunch </p>
		<p> Dinner </p>
		<span id="recipes"> </span>

	<script>

</body>
<footer>
</footer>
</html>
