<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Results</title>
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	
		h2 {text-align: center; font-size: 40px; color: #D60E0E}
		.blogSearch {text-align: center}
		
		h4 {font-size: 30px; font-weight: bold}
		
		a.blogs {text-decoration: none; color: #000000}
		
		body {text-align: center}
		
</style>
</head>

<body>
	<header>
		<div class="top">
			<h1><a href="/"><img src="/public/images/RecipeIcon.png" alt="logo" width="100" class="center"></a><span class="recipecentral" style = "vertical-align: super">Recipe Central</span></h1>
		</div>
	</header>
	
	<nav>
	   	<ul class="nav">
			<div class="topNav">
			<li class="navli"><a href="/">Home</a></li>
			<li class="navli"><a href="/Blogs">Blogs</a></li>
			<li class="navli"><a href="/Recipes">Recipes</a></li>
			<li class="navli"><a href="/About">About</a></li>
			<li class="navli"><a href="/SubmitRecipe">Submit a recipe!</a></li>
			</div>
			<div class="searchbar">
			<form action="https://recipe-central-search.herokuapp.com/SearchResults" method='get' >
			<input type="text" placeholder="I'm looking for..." name="query">
			<li style="float:right"><button type="submit"><i class="fa fa-search"></i></button></li>
			</form>
			</div>
	   	</ul>
	</nav>
		<h2>Search Results</h2>
		<span id="recipes"> </span>
	<p>
		<%-data%>
	</p>

</body>
		<footer>
	<h2>Join Our Newsletter!</h2>
	<div class="row">
		<div class="column">
			<img src="/public/images/HomeImg.jpg" alt="bottom1" width=250px height=200px>
		</div>

		<div class="column">
			<img src="/public/images/HomeImg4.jpg" alt="bottom2" width=250px height=200px>

		</div>
		<div class ="column">
			<img src="/public/images/Homeimg2.jpg" alt="bottom3" width=250px height=200px>


		</div>
		<div class="column">
			<img src="/public/images/HomeImg3.jpg" alt="bottom"  width=250px height=200px>
		</div>
	</div>

	<form
		name = "data"
		class = "signup"
		method="post"
		onsubmit = "return validate()">

		<p id = "first">First Name: <input type="text"  name='fname' /></p>
		<p id = "last">Last Name:  <input type="text"  name='lname' /></p>
		<p id = "email"> Email: <input type="text" name='email' /></p>
		<input type = "submit" value = "Submit" id = "submit"/>
		<script>
		$('form.signup').submit(function(e){
		    $('#first').hide(); 
		    $('#last').hide(); 
		    $('#email').hide(); 
		    $('#message').show();
		    e.preventDefault();
		    $('#submit').hide(); 
		    // Or with: return false;        
		});
		</script>
	</form>
	<div id = "message"> <br>Check your inbox and thanks for joining! </div>
	
	</footer>
	<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

</html>
