<html>
	<head>
		<meta charset = "UTF-8">
		<title>Search Recipes</title>
		<link rel="stylesheet" type="text/css" href="/public/assets/style.css">
		<style>
			body {text-align:center;}
		</style>
	</head>
	<body>
		<h1>Search for Recipes</h1>
		<form action="https://recipe-central-search.herokuapp.com/SearchResults" method='get' >
			<p><input type="text" name="query"/></p>
			<input type = "submit" value = "Search"/>
		</form>
	</body>
</html>
