header {font-family: georgia; color: #D60E0E; text-align: center; font-size: 30px; vertical-align: center}

body {background-color: #FFFDF3; font-family: georgia; color:#000000}

ul.nav, ul.topNav {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

li.navli {
  float: left;
}

li.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navli a:hover:not(.active) {background-color: #111}

ul.nav button {height:36px; width:36px; margin-top: 5px; margin-right: 5px}

.searchbar {float: right; text-align: center}

.searchbar input{height: 30px; width: 300px; margin-top: 5px}

.column {
	float:left;
	width:25%;
	padding: 0px;
}

.row::after {
	content:"";
	clear: both;
	display: table;
}

input[type=submit] {
	background-color: #333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: georgia;
}

input[type=submit]:hover {background-color: #111}

a.title {text-decoration: none; color: #D60E0E}


